<%= render :partial => "shared/sub-tabs" %>
<hr class="list-separator">
<div class="content-section">
  <% if @contents.size > 0 %>
    <ul class="list-button list-subject">
      <% @contents.each do |content| %>
        <li class="list-button-item link-container">
          <%# TODO: Diferenciar ícone dependendo do tipo de link. %>
          <%= link_to content.name, content_path(content), :class => "list-button-link link-target icon-text-page-lightblue_16_18-before" %>
          <div class="list-lecture-info">
            <%= content_tag(:span, content.comments.size, :rel => "tooltip", :title => pluralize(content.comments.size, "Comentário"), :class => "wall-stats icon-wall-gray_16_18-before") %>
            <%# TODO: Implementar o rating. %>
            <%= render "shared/content_rating_stars", rating: content.reputation_for(:rating).to_i %>
          </div>
        </li>
      <% end %>
    </ul>
    <%# TODO: Implementar paginação. %>
    <%= render :partial => "shared/pagination" %>

  <%# Nenhum link criado. %>
  <% else %>
    <%= render "shared/message-block", :type => "info", :close => false, :message => "Você ainda não possui nenhum link. Adicione seu primeiro link clicando no botão abaixo.", :button => link_to("Adicionar link", new_content_path, :class => "button-primary") %>
  <% end %>
</div>
