<% if @space %>
  <h2 class="title header-title">Disciplina</h2>
<% else %>
  <h2 class="title header-title">Meus links</h2>
<% end %>
<%= render_navigation(level: 1) %>

<%# Lista de links. %>
<% if @contents.size > 0 %>
  <%= render :partial => "shared/sub-tabs" %>
  <hr class="list-separator">
  <div class="content-section">
    <% if @user.teacher? && @space %>
      <ul class="list-mix suggestions">
        <% @suggestions.each do |suggestion| %>
          <li class="list-mix-item" id="<%= suggestion.id %>">
            <div class="list-mix-inner">
              <span><%= suggestion.owner.name %> indicou o seguinte conteúdo para a disciplina</span>
              <%= link_to "Recusar", content_add_to_path(content_id: suggestion, commit: "recusar"),
                class: "button-danger pull-right", method: :post, remote: true %>
              <%= link_to "Aceitar", content_add_to_path(content_id: suggestion, commit: "aceitar"),
                class: "button-success pull-right", method: :post, remote: true %>
              <%= link_to suggestion.name, content_path(suggestion) %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= render "list", contents: @contents %>
  </div>
<%# Nenhum link criado. %>
<% else %>
  <div class="content-section">
    <%= render "shared/message-block", :type => "info", :close => false, :message => "#{subject(@space)} ainda não possui nenhum link.", :button => nil %>
  </div>
<% end %>
