<%= render :partial => "shared/sub-tabs" %>
<hr class="list-separator">
<div class="content-section">
  <% if @user.teacher? && @space %>
    <ul class="list-mix suggestions">
      <% @suggestions.each do |suggestion| %>
        <li class="list-mix-item" id="<%= suggestion.id %>">
          <div class="list-mix-inner">
            <span><%= suggestion.owner.name %> indicou o seguinte conteúdo para a disciplina</span>
            <%= link_to "Recusar", content_add_to_path(content_id: suggestion, commit: "recusar"),
              class: "button-danger pull-right", method: :post, remote: true %>
            <%= link_to "Aceitar", content_add_to_path(content_id: suggestion, commit: "aceitar"),
              class: "button-success pull-right", method: :post, remote: true %>
            <%= link_to suggestion.name, content_path(suggestion) %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @contents.size > 0 %>
    <ul class="list-button list-subject">
      <% @contents.each do |content| %>
        <li class="list-button-item link-container">
          <%# TODO: Diferenciar ícone dependendo do tipo de link. %>
          <%= link_to content.name, content_path(content), :class => "list-button-link link-target icon-text-page-lightblue_16_18-before" %>
          <div class="list-lecture-info">
            <%= content_tag(:span, content.comments.size, :rel => "tooltip", :title => pluralize(content.comments.size, "Comentário"), :class => "wall-stats icon-wall-gray_16_18-before") %>
            <%# Rating. %>
            <%= render "shared/content_rating_stars", rating: content.reputation_for(:rating).to_i %>
            <%= content_tag :span, content.study_estimated_time, :rel => "tooltip", :title => "Tempo estimado de estudo" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <%# TODO: Implementar paginação. %>
  <%= render :partial => "shared/pagination" %>

  <%# Nenhum link criado. %>
<% else %>
  <div class="content-section">
    <%= render "shared/message-block", :type => "info", :close => false, :message => "Você ainda não possui nenhum link. Adicione seu primeiro link clicando no botão abaixo.", :button => link_to("Adicionar link", new_content_path, :class => "button-primary") %>
  </div>
<% end %>
