<div class="content-section">
  <%= form_for(@content, :html => { :class => "form-horizontal" }) do |f| %>

    <%# Tipo de material. %>
    <div class="control-group row">
      <div class="control-label span4">
        <%= f.label :kind, "Tipo de material" %>:
      </div>
      <div class="controls span6">
        <%= f.select :kind, options_for_select( Kind.all.collect { |s| [s.text, s] }, :selected => f.object.name) %>
        <span class="legend">Escolha o tipo de material que o link representa</span>
        <%= concave_errors_for(f.object, :kind) %>
      </div>
    </div>

    <%# Link. %>
    <div class="control-group row">
      <div class="control-label span4">
        <%= f.label :link, "Link" %>:
      </div>
      <div class="controls span6">
        <%= f.text_field :link, :placeholder => "Cole o link aqui" %>
        <%= concave_errors_for(f.object, :link) %>
      </div>
    </div>

    <%# Título. %>
    <div class="control-group row">
      <div class="control-label span4">
        <%= f.label :name, "Título" %>
      </div>
      <div class="controls span6">
        <%= f.text_field :name, :placeholder => "Dê um título representativo para o link" %>
        <%= concave_errors_for(f.object, :name) %>
      </div>
    </div>

    <%# Descrição. %>
    <div class="control-group row">
      <div class="control-label span4">
        <%= f.label :description, "Descrição" %>:
      </div>
      <div class="controls span6">
        <%= f.text_area :description, :placeholder => "Descreva brevemento do que se trata o link", :rows => 5 %>
      </div>
    </div>

    <%# Tempo estimado de estudo. %>
    <div class="control-group row">
      <div class="control-label span4">
        <%= f.label :study_estimated_time, "Tempo estimado de estudo" %>:
      </div>
      <div class="controls span6">
        <div class="row">
          <%= select_tag(:study_estimated_time_hour, options_for_select((0..12).to_a), :class => "span2") %>
          <span class="span1 legend time-legend">horas</span>
          <%= select_tag(:study_estimated_time_minute, options_for_select((0..60).to_a), :class => "span2") %>
          <span class="span1 legend time-legend">minutos</span>
        </div>
        <span class="legend">Sugira um tempo médio necessário para estudar conteúdo do link</span>
        <%= f.hidden_field :study_estimated_time %>
      </div>
    </div>

    <% if current_user.teacher? %>
      <div class="control-group row">
        <div class="controls span6 offset4">
          <label class="control-checkbox" rel="tooltip" title="Marcando esta opção o link será adicionado à disciplina ao invés da lista pessoal">
            <%= check_box_tag(:add_link_to_space) %> Adicionar link à disciplina.
          </label>
          <%= hidden_field_tag :space_id, current_space.id %>
        </div>
      </div>
    <% end %>

    <%# TODO: Visibilidade. %>
    <%# TODO: Postar link no mural da disciplina. %>

    <div class="control-group row">
      <div class="span10">
        <%= f.submit "Adicionar", :class => "button-primary pull-right", :rel => "tooltip", :title => "Adicionar o link", :disabled => true %>
        <%= button_tag "Limpar", :type => :reset, :class => "button-default pull-right", :rel => "tooltip", :title => "Limpar os campos do formulário" %>
      </div>
    </div>
  <% end %>
</div>
