<div class="content-section">
  <%= form_for(@content, :html => { :class => "form-horizontal" }) do |f| %>

    <%# Tipo de material. %>
    <div class="control-group row">
      <div class="control-label span3">
        <%= f.label :kind, "Tipo de material" %>:
      </div>
      <div class="controls span6">
        <%= f.select :kind, options_for_select( Kind.all.collect { |s| [s.text, s] }, :selected => f.object.name) %>
        <span class="legend">Escolha o tipo de material que o link representa</span>
        <%= concave_errors_for(f.object, :kind) %>
      </div>
    </div>

    <%# Link. %>
    <div class="control-group row">
      <div class="control-label span3">
        <%= f.label :link, "Link" %>:
      </div>
      <div class="controls span6">
        <%= f.text_field :link, :placeholder => "Cole o link aqui" %>
        <%= concave_errors_for(f.object, :link) %>
      </div>
    </div>

    <%# Título. %>
    <div class="control-group row">
      <div class="control-label span3">
        <%= f.label :name, "Título" %>
      </div>
      <div class="controls span6">
        <%= f.text_field :name, :placeholder => "Dê um título representativo para o link" %>
        <%= concave_errors_for(f.object, :name) %>
      </div>
    </div>

    <%# Descrição. %>
    <div class="control-group row">
      <div class="control-label span3">
        <%= f.label :description, "Descrição" %>:
      </div>
      <div class="controls span6">
        <%= f.text_area :description, :placeholder => "Descreva brevemento do que se trata o link", :rows => 5 %>
      </div>
    </div>

    <%# Tempo estimado de estudo. %>
    <div class="control-group row">
      <div class="control-label span3">
        <%= f.label :study_estimated_time, "Tempo estimado de estudo" %>:
      </div>
      <div class="controls span6">
        <%# TODO: Procurar um campo melhor para entrada de tempo. %>
        <%= f.text_field :study_estimated_time %>
        <span class="legend">Sugira um tempo médio necessário para estudar conteúdo do link</span>
      </div>
    </div>

    <%# TODO: Visibilidade. %>
    <%# TODO: Postar link no mural da disciplina. %>

    <div class="row">
      <div class="span9">
        <%= f.submit "Adicionar", :class => "button-primary pull-right", :rel => "tooltip", :title => "Adicionar o link", :disabled => true %>
        <%= button_tag "Limpar", :type => :reset, :class => "button-default pull-right", :rel => "tooltip", :title => "Limpar os campos do formulário" %>
      </div>
    </div>
  <% end %>
</div>
