<div class="content-section content-title clearfix">
  <a class="button-default pull-left back" href="#">Voltar</a>
  <h3 class="pull-left"><%= @content.name %></h3>
  <ul class="content-rating pull-left">
    <%= render partial: "stars" %>
  </ul>
  <% unless @content.belongs_to_space? current_space %>
    <%= link_to "Sugerir como link da discplina", content_suggest_for_path(content_id: params[:id]),
      class: "button-success pull-right", method: :post, remote: true %>
  <% end %>
  <% unless @content.belongs_to_user? current_user %>
    <%= link_to "Adicionar aos Meus Links", content_add_mine_path(content_id: params[:id]),
      class: "button-success pull-right", method: :post %>
  <% end %>
</div>
<hr class="list-separator">
<div class="content-section clearfix">
  <ul class="content-details">
    <li class="icon-file-lightblue_16_18-before"><a href='http://<%= @content.link %>'><%= @content.link %></a></li>
    <% if @content.description %>
      <li><span class="icon-doubt-topic-lightblue_16_18-before show text-replacement pull-left">Detalhes</span><p class="pull-left"><%= @content.description %></p></li>
    <% end %>
    <li class="icon-favorite-lightblue_16_18-before"><%= @content.study_estimated_time or 'Tempo não informado' %></li>
  </ul>
</div>
<hr class="list-separator">
<div class="content-section content-comments clearfix">
  <h6 class="icon-comment-gray_16_18-before">Comentários</h6>
  <div class="create-response post">
    <%= form_for(:comment, url: comments_path) do |f|%>
      <%= f.text_field :body %><br />
      <%= hidden_field_tag :content_id, params[:id] %>
      <div class="status-buttons">
        <%= f.submit 'Postar', class: 'button-primary pull-right' %>
      </div>
    <% end %>
  </div>
  <% @content.comments.each do |comment| %>
    <div class="create-response comment">
      <b><%= comment.author.name %></b>
      <p class="post-description"><%= comment.body %></p>
    </div>
  <% end %>
</div>

