<div class="content-section content-title clearfix">
  <a class="button-default pull-left back" href="#">Voltar</a>
  <h3 class="pull-left"><%= @content.name %></h3>
  <ul class="content-rating pull-left">
    <li><span class="icon-star-full-blue_16_18 show text-replacement">Estrela</span></li>
    <li><span class="icon-star-full-blue_16_18 show text-replacement">Estrela</span></li>
    <li><span class="icon-star-full-blue_16_18 show text-replacement">Estrela</span></li>
    <li><span class="icon-star-full-blue_16_18 show text-replacement">Estrela</span></li>
    <li><span class="icon-star-full-blue_16_18 show text-replacement">Estrela</span></li>
  </ul>
  <%= link_to "Sugerir como link da discplina", content_suggest_for_path(content_id: params[:id], space_id: 1), class: "button-success pull-right", method: :post, remote: true %>
</div>
<hr class="list-separator">
<div class="content-section clearfix">
  <ul class="content-details">
    <li class="icon-file-lightblue_16_18-before"><a href='http://<%= @content.link %>'><%= @content.link %></a></li>
    <% if @content.description %>
      <li><span class="icon-doubt-topic-lightblue_16_18-before show text-replacement">Detalhes</span><p><%= @content.description %></p></li>
    <% end %>
    <li class="icon-favorite-lightblue_16_18-before"><%= @content.study_estimated_time or 'Tempo não informado' %></li>
  </ul>
</div>
<hr class="list-separator">
<div class="content-section content-comments clearfix">
  <h6 class="icon-comment-gray_16_18-before">Comentários</h6>
  <% @content.comments.each do |comment| %>
    <%= comment.body %>
  <% end %>

  <%= form_for(:comment, url: comments_path) do |f|%>
    <%= f.label :body, 'Texto' %>:
    <%= f.text_field :body %><br />
    <%= hidden_field_tag :content_id, params[:id] %><br />
    <%= f.submit %>
  <% end %>
</div>

