<!DOCTYPE html>
<html>
<head>
  <title>Organize</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all, :recursive => true %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= render :partial => "shared/header" %>

<%= yield %>

</body>
</html>
