<!DOCTYPE html>
<html>
  <head>
    <title>Organize</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render "shared/flash", flash: flash %>
    <%= render "shared/welcome-modal" %>
    <%= render "shared/header" %>
    <%= yield %>
  </body>
</html>
